@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lobster";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  width: 100vw;
  height: 100vh;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 23px;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #c44747;
    }
  }
  .pomodoro-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding-top: 38px;
    .btn {
      padding: 10px 28px;
      border-radius: 25px;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #f85959;
      cursor: pointer;
    }
  }
  .timer {
    display: grid;
    place-items: center;
    box-sizing: border-box;
    width: 243.22px;
    height: 242.15px;
    border-radius: 50%;
    border: 15px solid #f85959;
    margin-top: 39px;
    .time {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #f85959;
    }
  }
  .pouse-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 59px;
    gap: 54px;
    button {
      padding: 5px 32px;
      padding: 10px 28px;
      background: #e93c3c;
      border-radius: 25px;
      border: none;
      color: #fffdff;
      cursor: pointer;
    }
  }
}

.active {
  padding: 10px 28px;
  background: #e93c3c;
  border-radius: 25px;
  color: #fffdff !important;
}



.hide{
    display: none;
}